{% load bootstrap4 compress static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Jokes length</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000"/>
    {% bootstrap_css %}
    {% compress css %}
    <link type="text/x-scss" href="{% static 'scss/graph.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarText">
	  <ul class="navbar-nav mr-auto">
	    <li class="nav-item active">
	      <a class="nav-link" href="/">Jokes length</a>
	    </li>
	  </ul>
	  <span class="navbar-text">
	    {% if request.user.is_authenticated %}
	    {{ request.user.username }}
	    <a href="{% url 'logout' %}">logout</a>
	    {% else %}
	    <a href="{% url 'login' %}">login</a>
	    {% endif %}
	  </span>
	</div>
      </nav>
    </header>

    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    {% bootstrap_javascript jquery='slim' %}
  </body>
</html>
